@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background-color:#120f14;
    font-family: "Roboto", sans-serif;
}

#carrossel > h1 {
    color: white;
}

.barra {
    background: rgb(18,15,20);
    background: linear-gradient(90deg, #120f14 15%, #e64500 50%, #120f14 85%);
    height: 4px;
    margin: 5%;
}

.azul {
    color: #24c7f1;
}

#sobre {
    width: 62%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: #e84600;
}

h5 {
    color: white;
    margin: 3%;
}

h2 {
    margin-left: 3%;
}

#sobre > h6 {
    color: rgb(204, 199, 199);
    margin: 3%;
}

#keyfeatures {
    width: 69%;
    margin-left: auto;
    margin-right: auto;
}

.imgkeyfeatures {
    width: 30vw;
    height: 16vw;
}

.col {
    margin: 3%;
    text-align: left;
}

@media (max-width: 950px) {
    .imgkeyfeatures {
        width: 50vw;
        height: 28vw;
    }
    .col {
        text-align: center;
    }
  }
  


