@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body{
    background-color:#120f14;
    font-family: "Roboto", sans-serif;
}

#carrossel > h1 {
    color: white;
}

.barra {
    background: rgb(18,15,20);
    background: linear-gradient(90deg, #120f14 15%, #e64500 50%, #120f14 85%);
    height: 4px;
    margin: 5%;
}

.azul {
    color: #24c7f1;
}

#sobre {
    width: 62%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    color: #e84600;
    font-weight: bold
}

h5 {
    color: white;
    margin: 3%;
}

h2 {
    margin-left: 3%;
    font-weight: bold
}

#sobre > h6 {
    color: rgb(204, 199, 199);
    margin: 3%;
}

#keyfeatures {
    width: 69%;
    margin-left: auto;
    margin-right: auto;
}

.imgkeyfeatures {
    width: 30vw;
    height: 16vw;
}

.col {
    margin: 3%;
    text-align: left;
}

@media (max-width: 950px) {
    .imgkeyfeatures {
        width: 50vw;
        height: 28vw;
    }
    .col {
        text-align: center;
    }
  }

.card {
    background-color: #2b3035;
    width: 18rem;
    margin: 3% 0;
}

.card-title {
    color: white;
}

p {
    color: white;
}

.botaocard {
    background-color: #24c7f1;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    width: 69%;
    margin-left: auto;
    margin-right: auto;

}

#formulario {
    margin: 3% 8%;
    width: 90%;
    background-color: #2b3035;
    padding: 1%;
    border-radius: 2%;
}

.form-control {
    margin: 3%;
    text-align: left;
}

form {
    margin: 7%;
}

label {
    color: rgb(204, 199, 199);
    margin-left: 3%;
}

#form-titulo {
    text-align: center;
    margin-bottom: 3%;
}

#form-botao {
    margin-top: 8%;
    text-align: center;
}

footer {
    background-color: #2b3035;
}

#rodape {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.linha {
    display: flex;
    flex-direction: row;
}

.linha div {
    margin: 6%;
}

.imgfooter {
    width: 8vw;
    height: 2vw;
}

#midfooter {
    display: flex;
    justify-content: center;
}

#imgmidfooter {
    width: 18vw;
    height: 14vw;
}

@media (max-width: 950px) {
    #imgmidfooter {
        width: 25vw;
        height: 21vw;
    }
    .imgfooter {
        width: 12vw;
        height: 3vw;
    }
  }

#contato {
    background-color: #120f14;
    text-align: center;
}

small {
    color:  white;
}

#arco {
    animation: go-back2 4s infinite alternate;
}

@keyframes go-back2 {
    from
    {
        transform: translateX(100px);
        
    }
    to 
    {
        transform: translateX(0px);
    }
}

#arco-arietta {
    margin-top: 50%;
}